let mapleader = " "

set visualbell
set noerrorbells
set scrolloff=40
set surround
set ideajoin
set idearefactormode=keep
set incsearch
set hlsearch
set highlightedyank
set commentary
set relativenumber
set number

""" General
nnoremap \f :action SplitVertically<CR>:e ~/.ideavimrc<CR>
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

nnoremap <c-[> :action EditorEscape<CR>

nnoremap gp :action Cargo.RefreshCargoProject<CR>


""" Completion
inoremap <C-y> :action EditorChooseLookupItemReplace<CR>
vnoremap <leader>a :action ShowIntentionActions<CR>
nnoremap <leader>a :action ShowIntentionActions<CR>


nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>

""" Break points
nnoremap ,b :action ToggleLineBreakpoint<CR>
"""nnoremap <leader>b :action ToggleLineBreakpoint<CR>

""" Navigation
nmap gy <Action>(GotoTypeDeclaration)
nnoremap gr :action FindUsages<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap ga :action GotoAction<CR>
vnoremap ga :action GotoAction<CR>
nnoremap ge :action SearchEverywhere<CR>
nnoremap gf :action FileStructurePopup<CR>

nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap gt :action GotoTest<CR>

nnoremap <leader>tw :action FileStructurePopup<CR>

""" Running and Debugging
nnoremap ,c :action RunCoverage<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,r :action ChooseRunConfiguration<CR>
"""nnoremap ,r :action ContextRun<CR>
nnoremap ,s :action Stop<CR>
nnoremap ,u :action Rerun<CR>

nnoremap <leader>d :action Resume<CR>

""" VCS
nnoremap ]c :action NextDiff<CR>
nnoremap [c :action PreviousDiff<CR>

""" AI
"""nnoremap <leader>a :action ActivateAIAssistantToolWindow<CR>
"""vnoremap <leader>a :action ActivateAIAssistantToolWindow<CR>

""" Bookmarks
nnoremap <leader>H :action ShowBookmarks<CR>
nnoremap <leader>h :action ToggleBookmark<CR>
nnoremap [h :action GotoNextBookmark<CR>
nnoremap ]h :action GotoBookmark<CR>

" File navigation
map <leader>sa <action>(SearchEverywhere)
map <leader>sf <action>(GotoFile)
map <leader>sr <action>(RecentFiles)
map <leader>sg <action>(FindInPath)
vmap <leader>sg <action>(FindInPath)
map <leader>sl <action>(RecentLocations)
nnoremap <leader>tn :action NewScratchFile<CR>

""" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractFunction)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
nnoremap <leader>rc :action IntroduceConstant<CR>
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)
map <leader>ro :action OptimizeImports<CR>
map <leader>ri :action Inline<CR>
map <leader>rl :action ReformatCode<CR>

nnoremap <leader>ru :action Inline<CR>

""" Information
nnoremap <leader>i :action ShowIntentionActions<CR>
nnoremap <leader>e :action ShowErrorDescription<CR>
nnoremap <leader>j :action QuickJavaDoc<CR>

""" Windows
" Splits
map <leader>wv <Action>(SplitVertically)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)

" Stretch splits
nmap <C-j> <Action>(StretchSplitToBottom)
nmap <C-h> <Action>(StretchSplitToLeft)
nmap <C-l> <Action>(StretchSplitToRight)
nmap <C-k> <Action>(StretchSplitToTop)

" Switch windows
map <leader>wh <c-w>h
map <leader>wl <c-w>l
map <leader>wj <c-w>j
map <leader>wk <c-w>k

nnoremap <leader>c :action CommentByLineComment<CR>
vnoremap <leader>c :action CommentByLineComment<CR>

""" Global clipboard
nnoremap <leader>y \"*y<CR>
vnoremap <leader>y \"*y<CR>
nnoremap <leader>p \"*p<CR>

""" StringManipulation
vnoremap <leader>ma :action StringManipulation.Group.Main<CR>
vnoremap <leader>mc :action StringManipulation.ToCamelCase<CR>
vnoremap <leader>mk :action StringManipulation.ToKebabCase<CR>
vnoremap <leader>ms :action StringManipulation.ToSnakeCase<CR>
vnoremap <leader>mp :action StringManipulation.ToPascalCase<CR>

vnoremap <leader>mbe :action osmedile.intellij.stringmanip.EncodeBase64Action<CR>
vnoremap <leader>mbd :action osmedile.intellij.stringmanip.DecodeBase64Action<CR>

""" Windows
nnoremap <leader>e :action ActivateProjectToolWindow<CR>

nnoremap <leader>tb :action ActivateBookmarksToolWindow<CR>
nnoremap <leader>tc :action ActivateCoverageToolWindow<CR>
nnoremap <leader>td :action ActivateDatabaseToolWindow<CR>
nnoremap <leader>te :action ActivateDebugToolWindow<CR>
nnoremap <leader>tf :action ActivateFindToolWindow<CR>
nnoremap <leader>tr :action ActivateRunToolWindow<CR>
nnoremap <leader>ts :action ActivateServicesToolWindow<CR>
nnoremap <leader>tt :action ActivateTerminalToolWindow<CR>
nnoremap <leader>tn :action ActivateNotificationsToolWindow<CR>
nnoremap <leader>to :action ActivateBuildToolWindow<CR>

nnoremap <leader>wo :action HideAllWindows<CR>

""" TODO this should close the current window
nnoremap <leader>wx :action HideAllWindows<CR>

""" Modes
nnoremap <leader>zz :action ToggleZenMode<CR>
nnoremap <leader>zd :action ToggleDistractionFreeMode<CR>

""" Local History
nnoremap <leader>hl :action LocalHistory.ShowHistory<CR>
vnoremap <leader>hl :action LocalHistory.ShowHistorySelection<CR>

nnoremap <leader>hr :action Compare.Selected<CR>
vnoremap <leader>hr :action Compare.Selected<CR>

nnoremap <leader>hc :action LocalHistory.RevealCurrent<CR>

""" Tabs
"nnoremap <leader>pt :action PreviousTab<CR>
"nnoremap <leader>nt :action PreviousTab<CR>

nnoremap <leader>kp :action Kubernetes.PodForwardPortsRestart<CR>


""" Keymaps
"nnoremap <leader>k :action ChangeKeymap<CR>

""" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

nnoremap <leader>nh :noh<CR>
