let mapleader = " "
set surround
set ideajoin
set idearefactormode=keep
set incsearch
set highlightedyank

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <c-h> :split<CR>
nnoremap <c-v> :vsplit<CR>

nnoremap gu :action FindUsages<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap ga :action GotoAction<CR>
nnoremap ge :action SearchEverywhere<CR>

nnoremap <leader>f :action ReformatCode<CR>

nnoremap <leader>c :action CommentByLineComment<CR>
vnoremap <leader>c :action CommentByLineComment<CR>

nnoremap <leader>y \"*y<CR>
vnoremap <leader>y \"*y<CR>
nnoremap <leader>p \"*p<CR>

nnoremap [e :action GotoNextError<CR>
nnoremap ]e :action GotoPreviousError<CR>
nnoremap gt :action GotoTest<CR>

nnoremap <leader>sl :action FindInPath<CR>

""" Running and Debugging
nnoremap ,r :action ContextRun<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,f :action RerunFailedTests<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>

nnoremap ]c <Action>(VcsShowNextChangeMarker)
nnoremap [c <Action>(VcsShowPrevChangeMarker)

nnoremap <leader>r :action ChooseRunConfiguration<CR>
nnoremap <leader>h :action HideAllWindows<CR>
